.footer {
	background-color: #1a1e23;
}

.footer_context {
	padding: 40px 15px;
	color: #fff;
	text-align: center;
	font-size: 0.875rem;
	font-weight: 300;
	line-height: 1.75rem;
}

@media all and (max-width: 480px) {
	.footer_context {
		padding: 20px 15px;
	}
}