.get_in_touch {
    background: #fff;
    padding-bottom: 70px;
}

@media all and (max-width: 480px) {
    .get_in_touch {
        padding-bottom: 50px;
    }
}

.form_and_contacts__wrapper {
    display: flex;
    padding: 15px;
    justify-content: space-between;
    position: relative;
}

.client_contacts,
.form-and-contacts_column {
    width: 47%;
}

.form_title {
    padding: 10px 0;
    color: #282828;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.75rem;
    text-transform: uppercase;
}

.client_contacts__form {
    .form_row {
        margin-bottom: 10px;
    }
    label {
        -webkit-appearance: none;
        display: block;
        margin-bottom: -10px;
        // padding: 10px 0;
        font: 400 0.875rem/1.75rem 'Roboto', Arial, Helvetica, sans-serif;
        color: #282828;
    }
    input,
    textarea {
        -webkit-appearance: none;
        display: block;
        box-sizing: border-box;
        padding: 0 10px;
        width: 100%;
        height: 36px;
        border: 1px solid #eee;
        background: #f7f7f7;
        font: 300 0.875rem/2.25rem 'Roboto', Arial, Helvetica, sans-serif;
        &:hover {
            border-color: #00bc87;
        }
    }
    textarea {
        height: 140px;
        outline: none;
        resize: none;
        line-height: 1.25rem;
        box-sizing: border-box;
        padding: 10px;
    }
}

.send_message_btn {
    display: block;
    margin: 45px 0;
    padding: 10px 45px;
    border-radius: 6px;
    border: 1px solid #eeeeee;
    background-color: rgba(104, 195, 163, 0.76);
    background-image: linear-gradient(to top, #389474 0%, rgba(104, 195, 163, 0) 100%);
    font: 700 0.875rem/1.75rem 'Roboto', Arial, Helvetica, sans-serif;
    color: #fff;
    text-transform: uppercase;
    transition: color 5s sass;
    &:hover {
        background-image: linear-gradient(to top, #06a3a3 0%, rgba(58, 226, 206, 0) 100%);
    }
}

.contacts_wrap {
    padding: 10px 0;
    display: flex;
}

.form-and-contacts_column {
    float: left;
    width: 48%;
}

.contacts-address {
    margin-right: 4%;
}

.contacts_wrap_column {
    box-sizing: border-box;
    width: 48%;
}

.contacts-address-icon {
    float: left;
    width: 10%;
    margin-right: 8%;
}

.contacts-address-text {
    float: left;
    width: 70%;
}

.contacts-title {
    font: 500 0.875rem 'Roboto';
    text-transform: uppercase;
    line-height: 1.5rem;
}

.contacts-text {
    font: 300 0.875rem 'Roboto';
    line-height: 1.5rem;
    width: 100%;
}

.contacts_map {
    margin-top: 40px;
    width: 95%;
    height: 55%;
    background-color: #fff;
    border: 1px solid #eee;
    padding: 2px;
    box-sizing: border-box;
    position: relative;
    .map {
        position: absolute;
        width: 100%;
        height: 100%;
    }
}

@media all and (max-width: 991px) {
    .form_and_contacts__wrapper {
        flex-direction: column;
        align-items: center;
    }
    .client_contacts,
    .form-and-contacts_column {
        width: 65%;
    }
    .contacts_map {
        width: 100%;
        height: 329px;
    }
}

@media all and (max-width: 570px) {
    .client_contacts,
    .form-and-contacts_column {
        width: 85%;
    }
    .contacts-title,
    .contacts-text {
        font-size: 0.75rem;
    }
}

@media all and (max-width: 400px) {
    .contacts_wrap {
        flex-direction: column;
    }
    .contacts-address,
    .contacts-phone {
        padding: 10px 0;
    }
    .contacts_wrap_column {
        width: 100%;
    }
}
