.header {
    @extend .clearfix;
    background-color: #21252a;
    display: table;
    width: 100%;
}

@media screen and (max-width: 960px) {
    .container {
        max-width: 960px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
        margin: 0 auto;
    }
}

.header-container {
    @extend .clearfix;
    width: 50%;
    display: table-cell;
    position: relative;
}

@media screen and (max-width: 800px) {
    .header-container {
        display: block;
        width: 100%;
    }
}

.header-container-transparent {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(26, 29, 33, 0) 0%, rgba(26, 29, 33, 1) 100%);
    z-index: 0;
}

@media screen and (max-width: 800px) {
    .header-container-transparent {
        display: none;
    }
}

.header-container:nth-child(2) {
    background-image: url('../../image/avatar.jpg');
    background-size: cover;
}

@media screen and (max-width: 800px) {
    .header-container:nth-child(2) {
        background-image: none;
    }
}

.header-container__column1 {
    position: relative;
    float: right;
    max-width: 480px;
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 0 20px;
    z-index: 1;
    box-sizing: border-box;
    .title {
        margin-left: -6px;
        font-size: 3.75rem;
        color: #f8f8f8;
        font-weight: 700;
        line-height: 5.6rem;
        text-transform: uppercase;
        text-align: left;
    }
    .subtitle {
        color: #68c3a3;
        text-align: left;
    }
    .paragraph {
        color: #fff;
        width: 90%;
        line-height: 1.6rem;
        text-align: left;
    }
}

@media screen and (min-width: 1200px) {
    .header-container__column1 {
        max-width: 600px;
    }
}

@media screen and (max-width: 800px) {
    .header-container__column1 {
        float: none;
        max-width: 100%;
        width: 100%;
    }
}

.header-container__column2 {
    position: relative;
    float: left;
    width: 100%;
    max-width: 480px;
    z-index: 1;
    padding: 0 20px;
    box-sizing: border-box;
}

@media screen and (min-width: 1200px) {
    .header-container__column2 {
        max-width: 600px;
    }
}

@media screen and (max-width: 800px) {
    .header-container__column2 {
        max-width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .header-container {
        .title {
            font-size: 3rem;
        }
    }
}

@media screen and (max-width: 800px) {
    .header-container {
        .title {
            text-align: center;
            margin-bottom: 30px;
        }
    }
}

@media screen and (max-width: 400px) {
    .header-container {
        .title {
            font-size: 2.8rem;
        }
    }
}

@media screen and (max-width: 800px) {
    .header-container {
        .subtitle {
            text-align: center;
        }
    }
}

@media screen and (min-width: 1200px) {
    .header-container {
        .paragraph {
            font-size: 1rem;
            font-weight: 300;
        }
    }
}

@media screen and (max-width: 800px) {
    .header-container {
        .paragraph {
            text-align: center;
            margin: 0 auto;
        }
    }
}

.signature {
    width: 115px;
    margin: 30px 0;
}

@media screen and (max-width: 800px) {
    .signature {
        margin: 30px auto;
    }
}

.button-container {
    font-size: 0;
    margin-bottom: 60px;
}

@media screen and (max-width: 800px) {
    .button-container {
        text-align: center;
        margin-bottom: 60px;
    }
}

.about-me__message-button {
    box-sizing: border-box;
    display: inline-block;
    background-color: #52b3d9;
    font: 500 14px 'Roboto';
    color: #fff;
    text-transform: uppercase;
    width: 200px;
    line-height: 57px;
    text-align: center;
    margin-right: 10px;
    border-radius: 5px;
    border-bottom: 3px solid #4aa0c2;
    position: relative;
    &:hover {
        background: #0080c0;
    }
}

@media screen and (max-width: 960px) {
    .about-me__message-button {
        width: 170px;
        font-size: 0.75rem;
        line-height: 3rem;
    }
}

@media screen and (max-width: 400px) {
    .about-me__message-button {
        display: block;
        margin: 0 auto;
        margin-bottom: 30px;
    }
}

.about-me__download-button {
    box-sizing: content-box;
    display: inline-block;
    background-color: #68c3a3;
    font: 500 14px 'Roboto';
    color: #fff;
    text-transform: uppercase;
    width: 200px;
    line-height: 57px;
    text-align: center;
    border-radius: 5px;
    border-bottom: 3px solid #4eb28f;
    position: relative;
    &:hover {
        background: #59e270;
    }
}

@media screen and (max-width: 960px) {
    .about-me__download-button {
        width: 170px;
        font-size: 12px;
        line-height: 50px;
    }
}

@media screen and (max-width: 400px) {
    .about-me__download-button {
        display: block;
        margin: 0 auto;
    }
}

.profile {
    @extend .clearfix;
    font: 200 14px 'Roboto';
    color: #fff;
    margin-top: 80%;
    margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
    .profile {
        font: 200 16px 'Roboto';
    }
}

@media screen and (max-width: 800px) {
    .profile {
        margin-top: 0;
    }
}

.profile_column {
    float: left;
    width: 46%;
}

.profile_column:first-child {
    margin-right: 8%;
}

@media screen and (max-width: 800px) {
    .profile_column,
    .profile_column:first-child {
        width: 36%;
        margin: 0 7%;
    }
}

@media screen and (max-width: 400px) {
    .profile_column,
    .profile_column:first-child {
        float: none;
        width: 100%;
        text-align: center;
        margin: 0;
    }
}

.profile_column__element {
    margin-bottom: 10px;
    .my_tel_nom,
    .my_email {
        &:hover {
            color: #1ec0bd;
        }
    }
}

@media screen and (min-width: 1200px) {
    .profile_column__element {
        margin-bottom: 16px;
    }
}

@media screen and (max-width: 400px) {
    .profile_column__element {
        margin-bottom: 20px;
    }
}

.social-media-menu {
    margin-bottom: 60px;
}

.social-media-menu__item {
    display: inline-block;
    margin-right: 15px;
    width: 38px;
    height: 38px;
    border: 1px solid #fff;
    border-radius: 4px;
    text-align: center;
    line-height: 36px;
    transform: rotate(45deg);
    transition: 0.3s;
    cursor: pointer;
    .fa-facebook,
    .fa-twitter,
    .fa-behance,
    .fa-dribbble,
    .fa-pinterest {
        transform: rotate(-45deg);
    }
    &:hover {
        transform: rotate(0deg);
    }
}

.social-media-menu__item {
    &:hover {
        .fa-facebook,
        .fa-twitter,
        .fa-behance,
        .fa-dribbble,
        .fa-pinterest {
            transform: rotate(0deg);
            transition: 0.3s;
        }
    }
}

@media screen and (max-width: 800px) {
    .social-media-menu {
        text-align: center;
    }
}

@media screen and (max-width: 400px) {
    .social-media-menu__item {
        margin: 0 7px;
        width: 35px;
        height: 35px;
        line-height: 33px;
    }
}
