.latest_post {
	background: #fff;
	padding-bottom: 100px;
}

@media all and (max-width: 480px) {
	.latest_post {
		padding-bottom: 50px;
	}
}

.latest_post__menu {
	padding: 15px;
	display: flex;
	justify-content: space-between;
}

@media all and (max-width: 991px) {
	.latest_post__menu {
		justify-content: space-around;
	}
}

.latest_post__menu__item {
	width: 350px;
	border: 1px solid #eee;
	border-bottom: 3px double #eee;
	background-color: #fff;
	border-radius: 3px;
	
}

@media all and (max-width: 991px) {
	.latest_post__menu__item:nth-of-type(3) {
		display: none;
	}
}

@media all and (max-width: 767px) {
	.latest_post__menu__item:nth-of-type(2) {
		display: none;
	}
}

.post_content_wrapper {
	padding: 25px 15px 20px;
	position: relative;
}

.post__share {
	display: inline-block;
    width: 33px;
    height: 33px;
    padding: 6px 0;
    margin: 10px;
    text-align: center;
    transform: rotate(45deg);
    border-radius: 3px;
    border: 2px solid transparent;
    box-sizing: border-box;
    transition: 0.5s;

    .fa-link {
		transform: rotate(-45deg);
		transition: 0.5s;
	}

	background: #68c4a4;
	&:hover {
		transform: rotate(0deg);
	    background-color: #035393;
	    .fa-link {
            transform: rotate(0deg);
        }
	}	

	position: absolute;
	top: -27px;
	left: 84%;
}

.post_title {
	color: #68c3a3;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.post_text {
	color: #282828;
	font-size: 1rem;
	font-weight: 700;
	line-height: 2rem;
	padding-bottom: 15px;
}

.post_devider {
	background-color: #eee;
    height: 1px;
    width: 100%;
    margin-bottom: 15px;
}

.post_info_wrapper {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.post_info__item {
	font-size: 0.875rem;
	font-weight: 400;
	color: #afafaf;
}

.view_more_btn {
	display: block;
	margin: 45px auto;
	padding: 10px 35px;
	border-radius: 4px;
	background-color: rgba(104, 195, 163, 0.76);
	background-image: linear-gradient(to top, #389474 0%, rgba(104, 195, 163, 0) 100%);
	font: 700 14px/28px 'Roboto', Arial, Helvetica, sans-serif;
	color: #fff;
	text-transform: uppercase;
	transition: 0.5s;

	&:hover {
		background-image: linear-gradient(to top, #035393 0%, rgba(58, 226, 206, 0) 100%);
	}
}




