<address class="contact_info">
	<section class="left_part">
		<div class="contact_info__item">
			Name: Abs Voch
		</div>
		<div class="contact_info__item">
			Address: 12/A Abash hin, Dhaka, BD
			</div>
		<div class="contact_info__item">
			<a class="my_tel_nom"href="tel:08801731462858">Phone: (088) 017 314 628 58</a>
		</div>


	</section>
	<section class="right_part">
		<div class="contact_info__item">
			<time datetime="1993-12-5">
				Date of birth: 05 Dec 1993
			</time>
		</div>
		<div class="contact_info__item">
			Nationality: Bangladeshi
		</div>
		<div class="contact_info__item">
			<a class="my_email" href="mailto:binburhan@gmail.com">Email: binburhan@gmail.com</a>
		</div>
	</section>

	<div class="social_networks">
		<a href="#" class="social_networks__items">
			<i class="fa fa-facebook" aria-hidden="true"></i>
		</a>
		<a href="#" class="social_networks__items">
			<i class="fa fa-twitter" aria-hidden="true"></i>
		</a>
		<a href="#" class="social_networks__items">
			<i class="fa fa-behance" aria-hidden="true"></i>
		</a>
		<a href="#" class="social_networks__items">
			<i class="fa fa-dribbble" aria-hidden="true"></i>
		</a>
		<a href="#" class="social_networks__items">
			<i class="fa fa-pinterest" aria-hidden="true"></i>
		</a>
	</div>
</address>

