<ul class="my_skills_menu">

	<li class="my_skills_menu__item">
		<a href="#" class="inner_square">
			<i class="fa fa-mobile" aria-hidden="true"></i>
			<p class="my_skills_menu__item__name">
			ui design
			</p>
		</a>
	</li>
	<li class="my_skills_menu__item">
		<a href="#" class="inner_square">
			<i class="fa fa-paint-brush" aria-hidden="true"></i>
			<p class="my_skills_menu__item__name">
			graphic design
			</p>
		</a>
	</li>
	<li class="my_skills_menu__item">
		<a href="#" class="inner_square">
			<i class="fa fa-paper-plane" aria-hidden="true"></i>
			<p class="my_skills_menu__item__name">
			branding design
			</p>
		</a>		
	</li>
	<li class="my_skills_menu__item">
		<a href="#" class="inner_square">
			<i class="fa fa-desktop" aria-hidden="true"></i>
			<p class="my_skills_menu__item__name">
			web design
			</p>
		</a>	
	</li>
	

</ul>