<input type="checkbox" id="navigation__menu__checkbox">
<label class="navigation__menu__btn" for="navigation__menu__checkbox"><span class="menu__btn_text">Menu</span></label>
<nav class="navigation__menu">
    <a href="" class="navigation__menu__item">
		home
	</a>
    <a href="" class="navigation__menu__item">
		about
	</a>
    <a href="" class="navigation__menu__item">
		resume
	</a>
    <a href="" class="navigation__menu__item">
		skills
	</a>
    <a href="" class="navigation__menu__item">
		work
	</a>
    <a href="" class="navigation__menu__item">
		blog
	</a>
    <a href="" class="navigation__menu__item">
		contact
	</a>
    <a href="" class="navigation__menu__item">
		pages
	</a>
</nav>
