<section class="about_me">
	@@include('../components/navigation.html')
	
	<div class="container">
		<h2 class="title">About me</h2>

		@@include('../components/devider.html')
	
		<h3 class="subtitle">Objective</h3>
		<p class="paragraph">
			Globally incubate functional customer service whereas state of the art niche markets. Uniquely underwhelm focused communities with functionalized core competencies. Progressively unleash vertical technology with global e-markets. Collaboratively optimize highly efficient quality vectors and real-time testing procedures. 
		</p>
		<h3 class="subtitle">What I do?</h3>

		@@include('../components/my_skills.html')

	</div>
</section>
