<section class="experience">
    <div class="container">
        <div class="experience_menu_wrapper">
            <div class="experience__item">
                <p class="experience__icon">
                    <i class="fa fa-flask" aria-hidden="true"></i>
                </p>
                <p class="experience__counter">07</p>
                <p class="experience__subtitle">
                    Years experience
                </p>
            </div>
            <div class="experience__item">
                <p class="experience__icon">
                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                </p>
                <p class="experience__counter">651</p>
                <p class="experience__subtitle">
                    Projects done
                </p>
            </div>
            <div class="experience__item">
                <p class="experience__icon">
                    <i class="fa fa-users" aria-hidden="true"></i>
                </p>
                <p class="experience__counter">251</p>
                <p class="experience__subtitle">
                    Happy clients
                </p>
            </div>
            <div class="experience__item">
                <p class="experience__icon">
                    <i class="fa fa-trophy" aria-hidden="true"></i>
                </p>
                <p class="experience__counter">05</p>
                <p class="experience__subtitle">
                    Awords won
                </p>
            </div>
        </div>
    </div>
</section>
