<section class="get_in_touch">
    <div class="container">
        <h2 class="title">Get in touch</h2> @@include('../components/devider.html')
        <div class="form_and_contacts__wrapper">
            <div class="client_contacts">
                <h6 class="form_title">
					Send me a message
				</h6>
                <form action="/login" id="client_contacts__form" class="client_contacts__form" method="">
                    <p class="form_row">
                        <label for="username">Name</label>
                        <br>
                        <input type="text" name="username" id="username" class="username_input" required placeholder="your name">
                    </p>
                    <p class="form_row">
                        <label for="email">Email</label>
                        <br>
                        <input type="email" name="email" id="email" class="email_input" required placeholder="name@domain.com">
                    </p>
                    <p class="form_row">
                        <label for="subject">Subject</label>
                        <br>
                        <input type="text" name="subject" id="subject" class="subject_input" required placeholder="enter your subject">
                    </p>
                    <p class="form_row">
                        <label for="message">Message</label>
                        <br>
                        <textarea name="message" id="message" class="user_message" placeholder="please, enter your message here..." required></textarea>
                    </p>
                    <button class="send_message_btn" form="client_contacts__form">
                        send message
                    </button>
                </form>
            </div>
            <div class="form-and-contacts_column column2">
                <div class="contacts_wrap clearfix">
                    <div class="contacts-address contacts_wrap_column column1 clearfix">
                        <img class="contacts-address-icon" src="pictures/address-icon.png">
                        <p class="contacts-address-text">
                            <span class="contacts-title">
									Address / Street
								</span>
                            <br>
                            <span class="contacts-text">
									Nr. 6, 21 Awesome Street, London, UK
								</span>
                        </p>
                    </div>
                    <div class="contacts-phone contacts_wrap_column column2 clearfix">
                        <img class="contacts-address-icon" src="pictures/phone-icon.png">
                        <p class="contacts-address-text">
                            <span class="contacts-title">
									Phone number
								</span>
                            <br>
                            <span class="contacts-text">
									+880 1920980500
									<br>
									+880 1768760504
								</span>
                        </p>
                    </div>
                </div>
                <div class="contacts_map">
                    <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2479.1112572926127!2d-0.02432848459054248!3d51.58452427964782!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1suk!2sua!4v1499343852117" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
