<header class="header">
	<!-- <section class="header__left_bg"></section> -->
	<section class="header__right_bg"></section>
	<section class="header__introduction">
		<section class="header_slogan">
			<h1 class="header__main_title">Mon ja cai</h1>
			<h3 class="subtitle">User interface Designer</h3>
			<p class="paragraph">Enthusiastically revolutionize user friendly supply chains for quality e-commerce. Continually enhance premier resources after unique customer service. Uniquely pontificate ubiquitous functionalities without long-term high-impact processes.</p>
			<figure class="signature">
				<img src="../../pictures/sing.png" alt="signature">
			</figure>
			
		</section>
		<section class="feedback">
			@@include('../components/header_buttons.html')
			@@include('../components/contact_info.html')
		</section>
	</section>
</header>