<header class="header">
    <div class="header-container">
        <div class="header-container-transparent">
        </div>
        <div class="header-container__column1">
            <h1 class="title">
						Mon Ja Cai
					</h1>
            <h3 class="subtitle">
						User interface designer
					</h3>
            <p class="paragraph">
                Enthusiastically revolutionize user friendly supply chains for quality e-commerce. Continually enhance premier resources after unique customer service. Uniquely pontificate ubiquitous functionalities without long-term high-impact processes.
            </p>
            <figure class="signature">
                <img class="about-me__signature" src="../../pictures/sing.png">
            </figure>
            <div class="button-container">
                <<button class="about-me__message-button">
                    <i class="fa fa-paper-plane" aria-hidden="true"></i>
                    <span>
								Send me a message
							</span>
                </<button>
                <button class="about-me__download-button">
                    <i class="fa fa-download" aria-hidden="true"></i>
                    <span>
								Download my CV
							</span>
                    </<button>
            </div>
        </div>
    </div>
    <div class="header-container clearfix">
        <div class="header-container-transparent">
        </div>
        <div class="header-container__column2">
            <div class="profile clearfix">
                <ul class="profile_column">
                    <li class="profile_column__element">
                        Name: Abs Voch
                    </li>
                    <li class="profile_column__element">
                        Address: 12/A Abash hin, Dhaka, BD
                    </li>
                    <li class="profile_column__element"><a href="tel:08801731462858" class="my_tel_nom">Phone: (088) 017 314 628 58</a>
                    </li>
                </ul>
                <ul class="profile_column">
                    <li class="profile_column__element">
                        Date of birth: 05 Dec 1993
                    </li>
                    <li class="profile_column__element">
                        Nationality: Bangladeshi
                    </li>
                    <li class="profile_column__element"><a href="mailto:binburhan@gmail.com" class="my_email">Email: binburhan@gmail.com</a>
                    </li>
                </ul>
            </div>
            <div class="social-media-menu">
                <a class="social-media-menu__item" href="">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a class="social-media-menu__item" href="">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                <a class="social-media-menu__item" href="">
                    <i class="fa fa-behance" aria-hidden="true"></i>
                </a>
                <a class="social-media-menu__item" href="">
                    <i class="fa fa-dribbble" aria-hidden="true"></i>
                </a>
                <a class="social-media-menu__item" href="">
                    <i class="fa fa-pinterest" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
</header>
