<section class="latest_post">
	<div class="container">
		<h2 class="title">Latest post</h2>

		@@include('../components/devider.html')

		<ul class="latest_post__menu">
			<li class="latest_post__menu__item">
				<img src="../../image/brochure_lp.jpg" alt="">
				<div class="post_content_wrapper">
					<a href="#" class="post__share">
							<i class="fa fa-link" aria-hidden="true"></i>
					</a>
					<h5 class="post_title">
						Print design, Photoshop
					</h5>
					<p class="post_text">
						How to creat a print ready brochure using photoshop
					</p>
					<div class="post_devider"></div>
					<ul class="post_info_wrapper">
						<li class="post_info__item">
							<span class="post_info_icon">
							<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
							</span>
							<span class="post_info__author">
								Bin Burhan
							</span>
						</li>
						<li class="post_info__item">
							<span class="post_info_icon">
							<i class="fa fa-calendar-o" aria-hidden="true"></i>
							</span>
							<time class="post_info__date" datetime="2015-01-06">
								06 Jan 2015
							</time>
						</li>
						<li class="post_info__item">
							<span class="post_info_icon">
							<i class="fa fa-share-alt" aria-hidden="true"></i>
							</span>
							<span class="post_info__share_counter">30</span>
						</li>
						<li class="post_info__item">
							<span class="post_info_icon">
							<i class="fa fa-comments-o" aria-hidden="true"></i>
							</span>
							<span class="post_info__comments_counter">30</span>
						</li>
					</ul>
				</div>
			</li>

			<li class="latest_post__menu__item">
				<img src="../../image/metropolis.jpg" alt="">
				<div class="post_content_wrapper">
					<a href="#" class="post__share">
							<i class="fa fa-link" aria-hidden="true"></i>
					</a>
					<h5 class="post_title">
						Print design, Photoshop
					</h5>
					<p class="post_text">
						How to creat a print ready brochure using photoshop
					</p>
					<div class="post_devider"></div>
					<ul class="post_info_wrapper">
						<li class="post_info__item">
							<span class="post_info_icon">
							<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
							</span>
							<span class="post_info__author">
								Bin Burhan
							</span>
						</li>
						<li class="post_info__item">
							<span class="post_info_icon">
							<i class="fa fa-calendar-o" aria-hidden="true"></i>
							</span>
							<time class="post_info__date" datetime="2015-01-06">
								06 Jan 2015
							</time>
						</li>
						<li class="post_info__item">
							<span class="post_info_icon">
							<i class="fa fa-share-alt" aria-hidden="true"></i>
							</span>
							<span class="post_info__share_counter">30</span>
						</li>
						<li class="post_info__item">
							<span class="post_info_icon">
							<i class="fa fa-comments-o" aria-hidden="true"></i>
							</span>
							<span class="post_info__comments_counter">30</span>
						</li>
					</ul>
				</div>
			</li>

			<li class="latest_post__menu__item">
				<img src="../../image/notebook.jpg" alt="">
				<div class="post_content_wrapper">
					<a href="#" class="post__share">
							<i class="fa fa-link" aria-hidden="true"></i>
					</a>
					<h5 class="post_title">
						Print design, Photoshop
					</h5>
					<p class="post_text">
						How to creat a print ready brochure using photoshop
					</p>
					<div class="post_devider"></div>
					<ul class="post_info_wrapper">
						<li class="post_info__item">
							<span class="post_info_icon">
							<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
							</span>
							<span class="post_info__author">
								Bin Burhan
							</span>
						</li>
						<li class="post_info__item">
							<span class="post_info_icon">
							<i class="fa fa-calendar-o" aria-hidden="true"></i>
							</span>
							<time class="post_info__date" datetime="2015-01-06">
								06 Jan 2015
							</time>
						</li>
						<li class="post_info__item">
							<span class="post_info_icon">
							<i class="fa fa-share-alt" aria-hidden="true"></i>
							</span>
							<span class="post_info__share_counter">30</span>
						</li>
						<li class="post_info__item">
							<span class="post_info_icon">
							<i class="fa fa-comments-o" aria-hidden="true"></i>
							</span>
							<span class="post_info__comments_counter">30</span>
						</li>
					</ul>
				</div>
			</li>


		</ul>

		<button class="view_more_btn">
			View more
		</button>
	</div>
</section>