<section class="resume">
	
	<div class="container">
		<h2 class="title">resume</h2>
	
		@@include('../components/devider.html')

		<h3 class="subtitle">Education</h3>

		<section class="education_wrapper">

			<div class="outer_block">
				<article class="resume_about--left">
					<h4 class="resume_about__title">
						Secondary school certificate
					</h4>
					<h5 class="resume_about__subtitle">
						Salimganj A R school, Dhaka, BD
					</h5>
					<p class="paragraph">
						I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend.
					</p>
				</article>
				<div class="resume_scale">
					@@include('../components/rhombus_small.html')
					<time class="resume_scale__date">
						2004 - 2010
					</time>
				</div>
			</div>

			<div class="outer_block">
				<article class="resume_about--right for_green_block">
					<h4 class="resume_about__title">
						Secondary school certificate
					</h4>
					<h5 class="resume_about__subtitle">
						Salimganj A R school, Dhaka, BD
					</h5>
					<p class="paragraph">
						I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend.
					</p>
				</article>
				<div class="resume_scale resume_scale--green">
				@@include('../components/rhombus_small.html')
					<time class="resume_scale__date">
						2004 - 2010
					</time>
				</div>
			</div>

			<div class="outer_block">
				<article class="resume_about--left">
					<h4 class="resume_about__title">
						Secondary school certificate
					</h4>
					<h5 class="resume_about__subtitle">
						Salimganj A R school, Dhaka, BD
					</h5>
					<p class="paragraph">
						I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend.
					</p>
				</article>
				<div class="resume_scale">
					@@include('../components/rhombus_small.html')
					<time class="resume_scale__date">
						2004 - 2010
					</time>
				</div>				
			</div>
		</section>

		<h3 class="subtitle">Experience</h3>

		<section class="experience_wrapper">
			<div class="outer_block">
				<article class="resume_about--left">
					<h4 class="resume_about__title">
						Secondary school certificate
					</h4>
					<h5 class="resume_about__subtitle">
						Salimganj A R school, Dhaka, BD
					</h5>
					<p class="paragraph">
						I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend.
					</p>
				</article>
				<div class="resume_scale">
					@@include('../components/rhombus_small.html')
					<time class="resume_scale__date">
						2004 - 2010
					</time>
				</div>
			</div>	

			<div class="outer_block">
				<article class="resume_about--right">
					<h4 class="resume_about__title">
						Secondary school certificate
					</h4>
					<h5 class="resume_about__subtitle">
						Salimganj A R school, Dhaka, BD
					</h5>
					<p class="paragraph">
						I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend.
					</p>
				</article>
				<div class="resume_scale">
				@@include('../components/rhombus_small.html')
					<time class="resume_scale__date">
						2004 - 2010
					</time>
				</div>
			</div>					
		</section>
	</div>
</section>