<section class="skills">
	<div class="container">
		<h2 class="title">Skills</h2>

		@@include('../components/devider.html')

		<section class="progress_block">
			<div class="progress__left_side">

				<div class="progress_wrapper">
					<span class="name_of_skill">UX Design</span>
					<div class="progress_bar">
						<div class="progress_scale">
							<span class="scale__percent">90%</span>
						</div>
					</div>
				</div>

				<div class="progress_wrapper">
					<span class="name_of_skill">Visual Design</span>
					<div class="progress_bar">
						<div class="progress_scale">
							<span class="scale__percent">95%</span>
						</div>
					</div>
				</div>

				<div class="progress_wrapper">
					<span class="name_of_skill">Visual Design</span>
					<div class="progress_bar">
						<div class="progress_scale">
							<span class="scale__percent">95%</span>
						</div>
					</div>
				</div>

			</div>

			<div class="progress__right_side">

				<div class="progress_wrapper">
					<span class="name_of_skill">Brending Design</span>
					<div class="progress_bar">
						<div class="progress_scale">
							<span class="scale__percent">75%</span>
						</div>
					</div>
				</div>

				<div class="progress_wrapper">
					<span class="name_of_skill">Motion Graphic</span>
					<div class="progress_bar">
						<div class="progress_scale">
							<span class="scale__percent">95%</span>
						</div>
					</div>
				</div>

				<div class="progress_wrapper">
					<span class="name_of_skill">Motion Graphic</span>
					<div class="progress_bar">
						<div class="progress_scale">
							<span class="scale__percent">50%</span>
						</div>
					</div>
				</div>

			</div>
		</section>

		<h3 class="subtitle">More skills</h3>

		<section class="more_skills_block">
			<ul class="more_skills__wrapper">
				<li class="skill_item">
					<img src="../../pictures/ellipse.png" alt="round scale skill" class="skill_round_scale">
					<span class="name_of_skill">
						Leadership
					</span>
					<span class="scale__percent">50%</span>
				</li>

				<li class="skill_item">
					<img src="../../pictures/ellipse.png" alt="round scale skill" class="skill_round_scale">
					<span class="name_of_skill">
						Leadership
					</span>
					<span class="scale__percent">50%</span>
				</li>

				<li class="skill_item">
					<img src="../../pictures/ellipse.png" alt="round scale skill" class="skill_round_scale">
					<span class="name_of_skill">
						Leadership
					</span>
					<span class="scale__percent">50%</span>
				</li>

				<li class="skill_item">
					<img src="../../pictures/ellipse.png" alt="round scale skill" class="skill_round_scale">
					<span class="name_of_skill">
						Leadership
					</span>
					<span class="scale__percent">50%</span>
				</li>

				<li class="skill_item">
					<img src="../../pictures/ellipse.png" alt="round scale skill" class="skill_round_scale">
					<span class="name_of_skill">
						Leadership
					</span>
					<span class="scale__percent">50%</span>
				</li>

				<li class="skill_item">
					<img src="../../pictures/ellipse.png" alt="round scale skill" class="skill_round_scale">
					<span class="name_of_skill">
						Leadership
					</span>
					<span class="scale__percent">50%</span>
				</li>
			</ul>
		</section>
	
	</div>
</section>