<section class="works">
	<div class="container">
		<h2 class="title">Works</h2>

		@@include('../components/devider.html')

		<div class="works__menu">
			<a href="#" class="works__menu__item">All</a>
			<a href="#" class="works__menu__item">Design</a>
			<a href="#" class="works__menu__item">Web</a>
			<a href="#" class="works__menu__item">Interface</a>
			<a href="#" class="works__menu__item">Identety</a>
		</div>

		<ul class="works__portfolio">

			<li href="#" class="works__portfolio__item">
				<img src="../../image/business_card.jpg" alt="business card">

				<div class="portfolio__item__dark_bg">
					
					<div class="link_wrapper">
						<a href="#" class="portfolio__magnifier">
							<i class="fa fa-search-plus" aria-hidden="true"></i>
						</a>
						<a href="#" class="portfolio__link">
							<i class="fa fa-link" aria-hidden="true"></i>
						</a>
					</div>

					<div class="dark_bg__project_title">
						<span>Project title</span>
					</div>

				</div>
			</li>

			<li href="#" class="works__portfolio__item">
				<img src="../../image/brochure.jpg" alt="brochure">
				<div class="portfolio__item__dark_bg">
					
					<div class="link_wrapper">
						<a href="#" class="portfolio__magnifier">
							<i class="fa fa-search-plus" aria-hidden="true"></i>
						</a>
						<a href="#" class="portfolio__link">
							<i class="fa fa-link" aria-hidden="true"></i>
						</a>
					</div>

					<div class="dark_bg__project_title">
						<span>Project title</span>
					</div>

				</div>
			</li>

			<li href="#" class="works__portfolio__item">
				<img src="../../image/galery.jpg" alt="galery">

				<div class="portfolio__item__dark_bg">
					
					<div class="link_wrapper">
						<a href="#" class="portfolio__magnifier">
							<i class="fa fa-search-plus" aria-hidden="true"></i>
						</a>
						<a href="#" class="portfolio__link">
							<i class="fa fa-link" aria-hidden="true"></i>
						</a>
					</div>

					<div class="dark_bg__project_title">
						<span>Project title</span>
					</div>

				</div>				
			</li>

			<li href="#" class="works__portfolio__item">
				<img src="../../image/art_furniture.jpg" alt="art furniture">

				<div class="portfolio__item__dark_bg">
					
					<div class="link_wrapper">
						<a href="#" class="portfolio__magnifier">
							<i class="fa fa-search-plus" aria-hidden="true"></i>
						</a>
						<a href="#" class="portfolio__link">
							<i class="fa fa-link" aria-hidden="true"></i>
						</a>
					</div>

					<div class="dark_bg__project_title">
						<span>Project title</span>
					</div>

				</div>
			</li>

			<li href="#" class="works__portfolio__item">
				<img src="../../image/booklet_1.jpg" alt="booklet_1">

				<div class="portfolio__item__dark_bg">
					
					<div class="link_wrapper">
						<a href="#" class="portfolio__magnifier">
							<i class="fa fa-search-plus" aria-hidden="true"></i>
						</a>
						<a href="#" class="portfolio__link">
							<i class="fa fa-link" aria-hidden="true"></i>
						</a>
					</div>

					<div class="dark_bg__project_title">
						<span>Project title</span>
					</div>

				</div>

			</li>

			<li href="#" class="works__portfolio__item">
				<img src="../../image/slide.jpg" alt="slide">

				<div class="portfolio__item__dark_bg">
					
					<div class="link_wrapper">
						<a href="#" class="portfolio__magnifier">
							<i class="fa fa-search-plus" aria-hidden="true"></i>
						</a>
						<a href="#" class="portfolio__link">
							<i class="fa fa-link" aria-hidden="true"></i>
						</a>
					</div>

					<div class="dark_bg__project_title">
						<span>Project title</span>
					</div>

				</div>
			</li>

			<li href="#" class="works__portfolio__item">
				<img src="../../image/booklet_2.jpg" alt="booklet_2">

				<div class="portfolio__item__dark_bg">
					
					<div class="link_wrapper">
						<a href="#" class="portfolio__magnifier">
							<i class="fa fa-search-plus" aria-hidden="true"></i>
						</a>
						<a href="#" class="portfolio__link">
							<i class="fa fa-link" aria-hidden="true"></i>
						</a>
					</div>

					<div class="dark_bg__project_title">
						<span>Project title</span>
					</div>

				</div>
			</li>

			<li href="#" class="works__portfolio__item">
				<img src="../../image/party.jpg" alt="party">

				<div class="portfolio__item__dark_bg">
					
					<div class="link_wrapper">
						<a href="#" class="portfolio__magnifier">
							<i class="fa fa-search-plus" aria-hidden="true"></i>
						</a>
						<a href="#" class="portfolio__link">
							<i class="fa fa-link" aria-hidden="true"></i>
						</a>
					</div>

					<div class="dark_bg__project_title">
						<span>Project title</span>
					</div>

				</div>
			</li>

		</ul>

	</div>
</section>